page-ycss {
  .toolbar div.toolbar-background-ios{
    background: #fff;
  }
  ion-card{
    position: relative;
  }
  ion-card-content .dingweijiage{
    position: absolute;
    border: 1px solid #ccc;
    right: 10px;
    bottom: 10px;
    text-align: center;
    width: 40px;
  }
}
