<ion-header>
  <ion-navbar text-center><h4>购物车</h4></ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
  <!--<div *ngFor="let carshop of numArray" class="box">-->
    <!--<p class="viewname">景点:{{carshop.name}}<ion-icon ios="ios-trash" md="md-trash" (click)="del(carshop)" class="del"></ion-icon></p>-->
    <!--<p class="ticketname">票价:{{carshop.tname}}</p>-->
    <!--<p class="price">价格:<span>￥{{carshop.price}}</span></p>-->
    <!--数量:<span (click)="jian(carshop)" class="dian">-</span>-->
        <!--<input type="number" placeholder="1" [(ngModel)]="carshop.amount">-->
        <!--<span (click)="jia(carshop)" class="dian">+</span>-->

  <!--</div>-->
  <!--</ion-refresher>-->

  <ion-card *ngFor="let carshop of numArray" class="box">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{carshop.img}}">
      </ion-avatar>
      <h2>景点:{{carshop.name}}</h2>
      <p>票价:{{carshop.tname}}</p>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <div style="color: red;">价格:￥{{carshop.price}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <div style="color: #000;">数量:<span (click)="jian(carshop)" class="dian" style="margin-left: 5px;">-</span>
            <input type="number" placeholder="1" [(ngModel)]="carshop.amount">
            <span (click)="jia(carshop)" class="dian">+</span></div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <ion-icon ios="ios-trash" md="md-trash" (click)="del(carshop)" class="del"></ion-icon>
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
<!--<ion-footer>-->
  <!--<ion-grid>-->
    <!--<ion-row>-->
      <!--<ion-col col-6 text-left class="total">总金额:￥{{total}}</ion-col>-->
      <!--<ion-col text-right><button ion-button round (click)="zhifu(numArray)">立即支付</button></ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
<!--</ion-footer>-->

<ion-footer>
  <ion-row>
    <ion-col col-5><p style="color: red;">总金额:￥{{total}}元</p></ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-6><button (click)="zhifu(numArray)">立即支付</button></ion-col>
  </ion-row>
</ion-footer>
