page-contact {
  .toolbar div.toolbar-background-ios{
    background: #fff;
  }
  .box {
    //width: 90%;
    //padding-left: 2%;
    //height: 160px;
    margin-bottom: 20px;
    //background-color: #bbb;
    //margin-left: 10%;
    border-bottom: 1px solid gray;
  }
  .box input {
    width: 30px;
    border: none;
    outline: none;
    text-align: center;
  }
  .box .viewname {
    width: 100%;
    height: 20px;
    //line-height: 30px;
    position: relative;
  }
  .box .viewname .del {
    position: absolute;
    right: 20px;
  }
  .box .dian {
    display: inline-block;
    width: 1.4em;
    height: 1.1em;
    line-height: 1.1em;
    text-align: center;
    //background-color: #333;
    color: black;
    border: 1px solid #333;
    font-size: 1.4em;
  }
  .del{
    font-size: 1.7em;
    color: #ff565d;
  }
  .box .price span{
    color: red;
  }
  ion-footer button{
    background-color: #ff565d;
    color: #ffffff;
    width: 100%;
    height: 47px;
  }
}
