page-home {
  .header{
    font-size: 24px;
  }
  .header .search{
    float: right;
  }
  .header .navbar{
    height: 20px;
  }
  .lunbotu{
    height: 180px;
    margin-bottom: 20px;
  }
  .lunbotu img{
    height: 220px;
  }
  .content .kuang{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    vertical-align: middle;
    line-height:30px;
  }
  .card-background{
    overflow-x: auto;
  }
  .card-background-page{
    overflow: hidden;
    height: 170px;
    float: left;
    width: 1980px;
  }

}
.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    width: 260px;
    margin-right: 10px;
  }
  img{
    width: 260px;
    height: 170px;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
