page-home {
  li{
    list-style-type:none;
  }
  a{
    text-decoration: none;
  }
  .header{
    margin-top: 10px;
    font-size: 22px;
    background-color: #fff;
    text-align: center;
  }
  .header .icons{
    width: 40px;
    float: left;
  }
  .hader .headertitle{
    width: 100px;
  }
  .header .search{
    float: right;
    width: 40px;
  }
  .lunbotu{
    height: 40%;
    margin-bottom: 10px;
  }
  .lunbotu img{
    width: 100%;
  }

  .icons-tubiao{
    ion-row{
      text-align: center;
      font-size:1.1em;
    }
    ion-row a{
      color: #666;
    }
  }
  .card-backgrounds{
    position: relative;
  }
  .handpick{
    margin-top:10px;
    position:relative;
  }
  .handpick span{
    font-size: 1.4em;
    position: relative;
    left: 20px;
  }
  .handpick span::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 17px;
    background-color: black;
    left: -10px;
    top: 3px;
  }
  ion-card-content{
    position: relative;
  }
  .dingweipiaojia{
    position: absolute;
    right: 5px;
    bottom: 0;
    border: 1px solid #888;
    text-align: center;
    width: 40px;
  }
  .card-background{
    overflow-x: auto;
  }
  .card-background-page{
    overflow: hidden;
    height: 170px;
    float: left;
    width: 1980px;
  }

}
.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    width: 260px;
    margin-right: 10px;
  }
  img{
    width: 260px;
    height: 170px;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
.card-backgrounds{
  ion-card {
    position: relative;
    text-align: center;
    width: 92%;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
