
<ion-content padding>
 <ion-row>
   <ion-col col-10>
     <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
     <ion-list *ngIf="isShow">
       <ion-item *ngFor="let item of items" (click)="detail(item)">
         {{ item.name }}
       </ion-item>
     </ion-list>
   </ion-col>
   <ion-col col-2><a (click)="back()">取消</a></ion-col>
 </ion-row>
  <br>
  热门搜索
  <hr>
  <div class="hotsearch">
    <ion-row>
      <ion-col col-4><p (click)="pl()">漂流</p></ion-col>
      <ion-col col-4><p (click)="sljz()">沙龙讲座</p></ion-col>
      <ion-col col-4><p (click)="yx()">优选</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6><p (click)="ycss()">演出赛事</p></ion-col>
      <ion-col col-6><p (click)="zl()">展览</p></ion-col>
    </ion-row>
  </div>

</ion-content>
