page-search {
  .searchbar-ios{
    background: #fff;
  }
  ion-col{
    text-align: center;
  }
  ion-col a{
    display: block;
    margin-top: 16px;
  }

  .hotsearch ion-col p{
    border:1px solid #ccc;
    height: 2.4em;
    line-height: 2.4em;
  }
}
