page-home-one {
  .toolbar div.toolbar-background-ios{
    background: #fff;
  }
  .big{
    font-size: 1.5em;
  }
  ion-footer button{
    background-color: #ff565d;
    color: #ffffff;
    width: 100%;
    height: 47px;
  }
}
