page-user-center {
  .header .toolbar{
    width: 100%;
  }
  .toolbar .title{
    width:90%;
    float: left;
    color:white;
    line-height:30px;
    position: relative;
    left:50%;
    -webkit-transform:translateX(-50%);
  }
  .toolbar .setings{
    width:10%;
    line-height:30px;
    float: right;
    font-size: 25px;
  }
  .content .hezi{
    width:100%;
    display: block;
  }
  .hezi{
    border-bottom:1px solid lightgray;
    box-shadow: 1px 3px 5px gray;
  }
  .hezi  .zhanghu{
    font-size: 100px;
    position: relative;
    left:50%;
    -webkit-transform:translateX(-50%);
  }
  span{
    width:4rem;
    display: block;
    margin:0 auto;
    text-align: center;
  }
}
